body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.btnop{
    position: absolute;
    left: 1em;
    top: 1em;
    border: none;
    outline: none;
    padding: 1.5em;
    font-size: 19px;
    background: #07152b;
    color: #fff;
    height: 5em;
    width: 11em;
    text-align: center;
    border-radius: 1em;
    transition: 0.5s;
}
.btnop:hover{
    background: #163c78;
}
.calculater{
    position: absolute;
    left: 25vw;
    top: 25vh;
    border: 1px solid #000;
    height: 40em;
    width: 35em;
    border-radius: 1em;
    overflow: hidden;
}
.hat{
    background: #1b0b29;
    width: 100%;
    height: 2em;
}
.clscalc{
    position: absolute;
    left: 90%;
    top: 0.5em;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background: #c22121;
    color: #969595;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.clscalc:hover{
    background: #fa1919;
    color: #fff;
}
.content{
    width: 100%;
    height: 38em;
    background: #919191;
}
.form1{
    position: absolute;
    left: 1em;
    top: 3em;
}
.form2{
    position: absolute;
    left: 10em;
    top: 3em;
}
.form3{
    position: absolute;
    left: 22em;
    top: 3em;
}
input{
    width: 7em;
    height: 2em;
    text-align: right;
}
.form3 input{
    width: 13em;
}
.number{
    border: 2px solid #000;
    position: absolute;
    left: 2em;
    top: 10em;
    width: 23em;
    height: 27em;
}
.action{
    border: 2px solid #000;
    position: absolute;
    left: 29em;
    top: 10em;
    width: 4em;
    height: 15em;
}
.eql{
    border: 2px solid #000;
    position: absolute;
    left: 32.8em;
    top: 7em;
    height: 3em;
    width: 7em;
}
button{
    outline: none;
    border: none;
}


